<aside class="aside">

    <div class="aside__block">

        <div class="aside__block__title">
            <span class="aside__block__title__text">Sobre mim</span>
        </div>

        <div class="aside__block__cont">
            <img class="aside__block__cont__photo" src="{{ "/assets/img/ft-perfil1.jpg" | relative_url }}" alt="">
            <span class="aside__block__cont__text">
                  <em>Bruna Espinosa </em> <br>
                 <br> Dicas de beleza, moda, gastronomia e lugares para visitar em São Paulo.
                 <br> Fique por dentro das novidades aqui no It's Cute.
            </span>
            <span class="aside__block__cont__contact">
                <i class="fa fa-envelope aside__block__cont__contact__icon" aria-hidden="true"></i>
                <a class="aside__block__cont__contact__mail" href="mailto:contato@itscute.com.br">contato@itscute.com.br</a>
            </span>
        </div>

    </div>


    <div class="aside__block">

        <div class="aside__block__title">
            <span class="aside__block__title__text">Youtube</span>
        </div>

        <div class="aside__block__cont">
            {% for video in layout.youtube %}
                <a class="aside__block__cont__youtube" rel="noreferrer" href="{{ video.url }}" target="_blank">
                    <img class="aside__block__cont__youtube__img" src="{{ "/assets/img/yt/date.jpg" | replace: "date", video.img | relative_url }}" alt="Ultima postagem no youtube">
                </a>
            {% endfor %}
        </div>

    </div>


    <div class="aside__block">

        <div class="aside__block__title">
            <span class="aside__block__title__text">Facebook</span>
        </div>

        <div class="aside__block__cont">
            <div id="fb-root"></div>
            <div class="fb-page" data-href="https://www.facebook.com/itscuteblog/" data-width="500px" data-small-header="false" data-adapt-container-width="true"
                data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/itscuteblog/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/itscuteblog/">It&#039;s Cute Blog</a>
                </blockquote>
            </div>
        </div>

    </div>


    <div class="aside__block">

        <div class="aside__block__title">
            <span class="aside__block__title__text">Contato</span>
        </div>

        <div class="aside__block__cont">
            <form class="aside__block__cont__form" action="">
                <input class="aside__block__cont__form__name" type="text" name="nome" placeholder="Nome" required>
                <input class="aside__block__cont__form__mail" type="email" name="email" placeholder="E-Mail" required>
                <textarea class="aside__block__cont__form__msg" placeholder="Mensagem" name="msg" id="msg" cols="30" rows="6" required></textarea>
                <button class="aside__block__cont__form__submit" type="submit">ENVIAR MENSAGEM</button>
            </form>
        </div>

    </div>




</aside>