<nav class="navmobile">
    
    <input type="checkbox" id="check__hamburguer">

    <label for="check__hamburguer">
        <div class="navmobile__button">
            <span class="navmobile__button__hamburguer"></span>
        </div>
    </label>

    <div class="navmobile__container">

        <div class="navmobile__container__logo">
            <a href="index">
                <img class="navmobile__container__logo__img" src="{{ "/assets/img/logo-mobile.png" | relative_url }}" alt="">
            </a>
        </div>

        <nav class="navmobile__container__nav">
            {% for link in layout.navbar %}
                <div class="navmobile__container__nav__item">
                    <a href="{{ link.url }}" title="{{ link.desc }}"  class="navmobile__container__nav__item__link">{{ link.name }}</a>
                </div>
            {% endfor %}
        </nav>

        <div class="navmobile__container__socialbar">
            {% for link in layout.socialbar %}
                <a href="{{ link.url }}" title="{{ link.desc }}" class="navmobile__container__socialbar__link">
                    <i class="fab fa-{{link.name}} navmobile__container__socialbar__link__icon"></i>
                </a>
            {% endfor %}
        </div>

    </div>
</nav>