<nav class="navmob">
    
    <input type="checkbox" class="navmob__check" id="navmob__check">


    <label for="navmob__check">
        <div class="navmob__button">
            <span class="navmob__button__hamburguer"></span>
        </div>
    </label>


    <div class="navmob__container">

        {%- include searchBar.html type="mobile" -%}

        <div class="navmob__container__logo">
            <a href="index" class="navmob__container__logo__link">
                <img class="navmob__container__logo__link__img--profile" src="{{ "/assets/img/ft-perfil1.jpg" | relative_url }}" alt="">
            </a>
        </div>

        <nav class="navmob__container__nav">
            {% for link in layout.navbar %}
                <div class="navmob__container__nav__item">
                    <a href="{{ link.url }}" title="{{ link.desc }}"  class="navmob__container__nav__item__link">{{ link.name }}</a>
                </div>
            {% endfor %}
        </nav>

        <div class="navmob__container__socialbar">
            {% for link in layout.socialbar %}
                <a href="{{ link.url }}" title="{{ link.desc }}" class="navmob__container__socialbar__link">
                    <i class="fab fa-{{link.name}} navmob__container__socialbar__link__icon"></i>
                </a>
            {% endfor %}
        </div>

    </div>
</nav>