<nav class="navmobile">
    <input type="checkbox" id="check__hamburguer">

    <label for="check__hamburguer">
        <div class="navmobile__button">
            <span class="navmobile__button__hamburguer"></span>
        </div>
    </label>

    <ul class="navmobile__container">
        <li class="navmobile__item--logo">
            <a href="index">
                <img class="navmobile__item--logoImg" src="{{ "/assets/img/logo-mobile.png" | relative_url }}" alt="">
            </a>
        </li>
        {% for link in layout.navbar %}
            <li class="navmobile__item">
                <a href="{{ link.url }}" title="{{ link.desc }}"  class="navmobile__link">{{ link.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>