.wrapper {
    @include transition;
    @extend %box-sizing;
    margin: 0px auto;
    width: 100%;
    @media #{$res-xl} {
        max-width: 1200px;
    }
}


.row{
    @include m("main"){
        background-color: #F2F2F2;
        position: relative;
        //temp
        min-height: 1200px;
        //temp
    } 
}


