@font-face {
    font-family: 'back_to_black_demoregular';
    src: url('fonts/backtoblack/back_to_black_demo-webfont.woff2') format('woff2'),
         url('fonts/backtoblack/back_to_black_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: $system-font;
    background-color: $color-secondary-light;
    
}

a{
    text-decoration: none;
}

header{
    width: 100%;
}
