.logoarea{
    background-image: url('../../assets/img/bg-header.jpg');
    background-size: cover;
    width: 100%;
    position: fixed;
    height: 600px;
    top: 100px;
    @include e('wrapper'){
        @include flexbox(flex, row, nowrap, center, center, center);
    }
}