.mainheader {
  @include e('wrapper') {
    @include flexbox(flex, row, wrap, space-between, center, center);
    position: relative;
  }
  @include transition;
  @extend %box-sizing;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: #FFF;
  padding: 10px 0px;
  position: fixed;
  z-index: 10;
  @media #{$res-xs} {
    display: none;
  }
  
  @media #{$res-sm} {
    display: none;
  }

  .logo{
    @include transition;
    transform: scale(1);
    @include e('link') {
      @include e('img') {
        width: 100px;
        height: auto;
      }
    }
  }

  @include m('fixed') {
    padding: 0px 0px;
    .logo{
      position: relative;
      transform: scale(.8);
    }
  }
}