.navmobile {
    z-index: 99999;
    input {
        display: none;
    }
    @media #{$res-xs} {}
    @media #{$res-sm} {}
    @media #{$res-md} {
        display: none;
    }
    @media #{$res-lg} {
        display: none;
    }
    @media #{$res-xl} {
        display: none;
    }
    @at-root #{&}__button {
        @include flexbox(flex, column, wrap, center, center, center);
        @include border-radius(50%);
        -webkit-tap-highlight-color: transparent;
        box-shadow: 0 0 0 0px $color-primary-dark, 0 0 0 0px $color-primary-dark;
        transition: box-shadow .8s cubic-bezier(.19, 1, .22, 1);
        background-color: $color-primary-dark;
        width: 50px;
        height: 50px;
        position: fixed;
        right: 15px;
        bottom: 15px;
        cursor: pointer;
        @at-root #{&}__hamburguer {
            position: relative;
            &,
            &:before,
            &:after {
                @include transition;
                display: block;
                background-color: #FFF;
                width: 25px;
                height: 3px;
            }
            &:before,
            &:after {
                position: absolute;
                content: "";
            }
            &:before {
                top: -8px;
            }
            &:after {
                bottom: -8px;
            }
        }
    }
    input:checked~label .navmobile__button {
        box-shadow: 0 0 0 105vw #1e374e, 0 0 0 120vh $color-primary-dark;
        @include rotate(45);
        @at-root #{&}__hamburguer {
            &:before,
            &:after {
                @include rotate(90);
                top: 0;
                bottom: 0;
            }
        }
    }
    @at-root #{&}__container {
        @include flexbox(flex, column, wrap, space-around, center, flex-start);
        @extend %box-sizing;
        @include opacity(0);
        visibility: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% - 100px);
        list-style: none;
        margin: 0px;
        padding: 0px;
        text-align: center;
        transition: all .20s 0s cubic-bezier(0, 1.07, 0, 1.02);
        z-index: 2;
        @at-root #{&}__logo {
            @at-root #{&}__img {
                height: auto;
                max-width: 250px;
            }
        }
        @at-root #{&}__nav {
            @include flexbox(flex, row, wrap, center, center, flex-start);
            @at-root #{&}__item {
                text-align: right;
                padding: 10px;
                @at-root #{&}__link {
                    color: #FFF;
                    font-size: 20px;
                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }

        @at-root #{&}__socialbar {
            @at-root #{&}__link {
                margin: 10px;
                font-size: 30px;
                color: #FFF;
            }
        }
    }
    input:checked~.navmobile__container {
        @include opacity(1);
        visibility: visible;
    }
}