<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "pt-br" }}">

  {%- include head.html -%}

  <body {% if layout.page %} class="{{ layout.page }}" {% endif %}>
    {%- include header.html -%}

    {%- include headerarea.html -%}

    <div class="mobsearch">
      {%- include searchBar.html type="mobile" -%}
    </div>
    

    <div class="row row--main">

      <div class="wrapper wrapper--main">
        
        
        <main class="main">
            {{ content }}
        </main>
        
        {%- include aside.html -%}

      </div>

    </div>

 
    {%- include footer.html -%}

    {%- include navmobile.html -%} 

    {%- include google-analytics.html -%} 

  </body>

</html>
