---
navbar:
  - name: "HOME"
    url: "index"
    desc: "lorem ipsun"
  - name: "PAGES"
    url: "perfis"
    desc: "lorem ipsun"
  - name: "TRAVEL"
    url: "perfis"
    desc: "lorem ipsun"
  - name: "LIFESTYLE"
    url: "perfis"
    desc: "lorem ipsun"
  - name: "FEATURED"
    url: "perfis"
    desc: "lorem ipsun"
  - name: "ABOUT ME"
    url: "perfis"
    desc: "lorem ipsun"
  - name: "CONTACT"
    url: "perfis"
    desc: "lorem ipsun"

socialbar:
  - name: "facebook"
    url: "http://facebook"
    desc: "Lorem ipsun"
  - name: "twitter"
    url: "http://facebook"
    desc: "Lorem ipsun"
  - name: "instagram"
    url: "http://facebook"
    desc: "Lorem ipsun"
  - name: "pinterest"
    url: "http://facebook"
    desc: "Lorem ipsun"
  - name: "facebook"
    url: "http://facebook"
    desc: "Lorem ipsun"
  - name: "facebook"
    url: "http://facebook"
    desc: "Lorem ipsun"
  - name: "facebook"
    url: "http://facebook"
    desc: "Lorem ipsun"
  - name: "facebook"
    url: "http://facebook"
    desc: "Lorem ipsun"
  - name: "facebook"
    url: "http://facebook"
    desc: "Lorem ipsun"
  - name: "facebook"
    url: "http://facebook"
    desc: "Lorem ipsun"
  - name: "facebook"
    url: "http://facebook"
    desc: "Lorem ipsun"
  - name: "facebook"
    url: "http://facebook"
    desc: "Lorem ipsun"
  - name: "facebook"
    url: "http://facebook"
    desc: "Lorem ipsun"
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {{ content }}
 
    {%- include footer.html -%}

  </body>

</html>
